.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.pagination-action,
.pagination-number {
    margin: 5px;
}

.pagination-action {
    display: inline-block;
    color: #006120;
    font-size: 1.25rem;
}

.pagination-action:hover {
    color: #33aa47;
}

.pagination-number {
    background-color: #b9b9b9;
    padding: 0.5em 0.8em;
    color: #f1f1f1;
    border-radius: 2px;
}

.pagination-number:not(.pagination-current) {
    color: #272727;
}

.pagination-number:hover {
    color: #f1f1f1;
}

.pagination-number:hover,
.pagination-current {
    background-color: #006e25;
}