*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
    font-size: clamp(1rem, 1.5vw, 5rem);
}

body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover {
    color: #14c54f;
    text-decoration: none;
}

.container {
    margin: 0 10vw;
}

.btn {
    font-size: 0.75rem;
    color: #272727 !important;
    width: fit-content;
    border: 0.2em solid #272727;
    padding: 0.5em 1em;
}

.btn::after {
    content: "»";
    margin-left: 0;
    max-width: 0;
    transition: 0.3s ease-in-out;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
}

.btn:hover::after,
.btn:focus::after {
    opacity: 1;
    margin-left: 5px;
    max-width: 7rem;
}


.btn.primary {
    border: 0.2em solid green;
}

.btn.secondary {
    border: 0.2em solid yellow;
}