{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/css/article-list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/pagination.css' %}">
{% endblock %}
{% block title %}Articles{% endblock title %}

{% block content %}
<h1>Articles</h1>
<section id="articles">
    {% if page_obj.paginator.count > 0 %}
    {% for article in page_obj %}
    <div class="article">
        <abbr title="{{ article.title }}" class="title">{{ article.title }}</abbr>
        <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}'s thumbnail">
        <p class="brief-description">{{ article.description|striptags|truncatechars:55 }}</p>
        <p class="author">— by {{ article.author.username }}</p>
        <a class="btn primary read-more" href="{% url 'articles:article-detail' article.slug %}">Read more</a>
    </div>
    {% endfor %}
    {% else %}
    <h2>No result</h2>
    {% endif %}
</section>
{% include 'main/pagination.html' with lists=page_obj %}
{% endblock content %}